<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <div class="text-secondary mt-5">
      <h3>Rejestracja</h3>
    </div>

    <!-- Login Form -->
    <form class="mt-3">
      <input type="text" id="login" class="fadeIn second" name="login" placeholder="Login">
      <input type="text" id="email" class="fadeIn second" name="email" placeholder="E-mail">
      <input type="password" id="password" class="fadeIn third" name="login" placeholder="Hasło">
      <input type="password" id="password" class="fadeIn third" name="login" placeholder="Potwierdź hasło">
      <input type="submit" class="fadeIn fourth" value="Zarejestruj">
    </form>

    <!-- Remind Passowrd -->
    <!-- <div id="formFooter">
      <a class="underlineHover" href="#">Zapomniałeś hasło?</a>
      <p class="mt-3 text-secondary pb-0">Nie masz jeszcze konta? <a class="underlineHover" href="#">Zarejestruj się</a></p>
    </div> -->

  </div>
</div>