<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

<div *ngIf= "!isRegisterFormOnly">
  <p class="mt-3 text-secondary mt-5 p-5">Sprawdź swoją skrzynke mail'ową w celu potwierdzenia rejestracji.</p>

  <div id="formFooter">
    <p class="mt-3 text-secondary pb-0">Nie dostałeś mail'a? <a class="underlineHover" [routerLink]="" routerLinkActive="router-link-active"  (click)= "sendConfirmationAgain()">Wyślij ponownie</a></p>
  </div> 
</div>

  <div *ngIf= "isRegisterFormOnly">
    <div class="text-secondary mt-5">
      <h3>Rejestracja</h3>
    </div>

    <!-- Register Form -->
    <form [formGroup]= "registerForm" class="mt-3" (ngSubmit)="register()">
      <div class="form-group">
      <input type="text" id="login" class="fadeIn second" name="userName" formControlName="userName" placeholder="Nazwa użytkownika" [ngClass]="{'is-invalid': registerForm.get('userName').errors && registerForm.get('userName').touched }">
      <div class="invalid-feedback" *ngIf= "registerForm.get('userName').hasError('required')">Podaj nazwę użytkownika.</div>
      <div class="invalid-feedback" *ngIf= "registerForm.get('userName').hasError('minlength')">Nazwa użytkownika musi zawierać min. 4 znaki.</div>
      </div>
      <input type="text" id="email" class="fadeIn second" name="email" formControlName="email" placeholder="E-mail" [ngClass]="{'is-invalid': registerForm.get('email').errors && registerForm.get('email').touched }">
      <div class="invalid-feedback" *ngIf= "registerForm.get('email').hasError('required')">Podaj adres email.</div>
      <div class="invalid-feedback" *ngIf= "registerForm.get('email').hasError('email')">Podaj poprawny email.</div>
      <input type="password" id="password" class="fadeIn third" name="password" formControlName="password" placeholder="Hasło" [ngClass]="{'is-invalid': registerForm.get('password').errors && registerForm.get('password').touched }">
      <div class="invalid-feedback" *ngIf= "registerForm.get('password').hasError('required')">Podaj hasło.</div>
      <div class="invalid-feedback" *ngIf= "registerForm.get('password').hasError('minlength')">Hasło musi zawierać min. 6 znaków</div>
      <input type="password" id="password" class="fadeIn third" name="confirmPassword" formControlName="confirmPassword" placeholder="Potwierdź hasło" [ngClass]="{'is-invalid': registerForm.hasError('password') && registerForm.get('confirmPassword').touched }">
      <div class="invalid-feedback" *ngIf= "registerForm.hasError('password') && registerForm.get('confirmPassword').touched">Hasła się nie zgadzają.</div>   
      <input type="submit" class="fadeIn fourth" value="Zarejestruj">
    </form>

    <!-- Remind Passowrd -->
     <div id="formFooter">
      <!-- <a class="underlineHover" href="#">Zapomniałeś hasło?</a> -->
      <p class="mt-3 text-secondary pb-0">Masz już konto? <a class="underlineHover" [routerLink]="['/login']" routerLinkActive="router-link-active" >Zaloguj się</a></p>
    </div> 
  </div>

  </div>
</div>