<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
<div *ngIf= "result === 'confirm' ">
    <div class="text-secondary mt-5">
      <h3>Potwierdzono!</h3>
    </div>

    <p class="mt-3 text-secondary mt-5 p-5">Możesz teraz bezpiecznie się zalogować.</p>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <p class="mt-3 text-secondary pb-0"><a class="underlineHover" [routerLink]="['/login']" routerLinkActive="router-link-active">Zaloguj się</a></p>
    </div>
  </div>
  <div *ngIf= "result === 'reject' ">
    <div class="text-secondary mt-5">
      <h3>Coś poszło nie tak!</h3>
    </div>

    <p class="mt-3 text-secondary mt-5 p-5">Spróbuj jeszcze raz.</p>

    <!-- Send Again -->
     <div id="formFooter">
      <p class="mt-3 text-secondary pb-0"><a class="underlineHover" [routerLink]="" routerLinkActive="router-link-active" (click)= "sendConfirmationAgain()">Wyślij ponownie link aktywacyjny</a></p>
    </div> 
  </div>
  </div>
</div>